#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

# Jak pracovat s config souborem  http://doc.nette.org/cs/configuring



parameters:
    webmasterEmail: nobody@example.com

    hoststats:
        host: localhost
        port: 3333
        overview_refresh: 60 # interval v sekundách na obnovování Overview

    nettools:
        whois:
            host: 193.0.6.135 # adresa whois.ripe.net

    formats:
        timeslot: j.n.Y H:i # php DateTime format
        date: j.n.Y # php DateTime format
			
