{block content}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">IP Map</a>
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="box-small span4 first">
        {snippet timeslot}
        <div class="box-small-link" id="timeslot">
            <a href="{link this timeslot=>$timeslot->getPrev()->getName()}" class="box-small-link prev ajax">&lt;</a>
            <span>
                {$timeslot->format( $formats->timeslot )}
                <small>{$timeslot->getName()}</small>
            </span>
            <a href="{link this timeslot=>$timeslot->getNext()->getName()}" class="box-small-link next ajax">&gt;</a>

            <div class="panel">
                {form frmTimestamp class=>'ajax box-small-link pickers'}
                    {input timeslot class=>'timeslot datetimepicker', placeholder=>'Type timestamp'}
                    {input send class=>'btn btn-primary'}
                {/form}

                {*
                <a href="{plink windowSet! '-1hour',null}" class="box-small-link">Prev 1 hour</a>
                <a href="{plink windowSet! '-6hour',null}" class="box-small-link">Next 1 hour</a>
                <a href="{plink windowSet! '-12hour',null}" class="box-small-link">Last 12 hour</a>
                <a href="{plink windowSet! '-1day',null}" class="box-small-link">Last Day</a>
                <a href="{plink windowSet! '-1week',null}" class="box-small-link">Last Week</a>
                <a href="{plink windowSet! '-1month',null}" class="box-small-link">Last Month</a>
                *}
            </div>

        </div>
        <div class="box-small-title">Timeslot</div>
        {/snippet}
    </div>

</div>


<div class="row-fluid" id="whois">
	<div class="box">
		<div class="box-header">
			<h2><i class="icon-align-justify"></i><span class="break"></span>IP map</h2>
			<div class="box-icon">
				<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
			</div>
		</div>

		<div class="box-content nopadding clearfix">
			{snippet in_map}
			<table id="ipmaps" class="table table-striped table-bordered bootstrap-datatable datatable fl" width="{=$zoom*256*2}">
				<thead class="table-small">
					<tr>
						<th>In transmission</th>
						<th>Out transmission</th>
						<th>Difference In - Out</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="{=$zoom*256}" height="{=$zoom*256}" class="nopadding"><div class="ipmap" data-zoom="{$zoom}" data-base="{$base}" data-base-length="{$baseLength}" ><img src="{link Map:IPmap $timeslot->getName(), $col, 'in'}" alt="In transmission IP map" /></div></td>
						<td width="{=$zoom*256}" height="{=$zoom*256}" class="nopadding"><div class="ipmap" data-zoom="{$zoom}" data-base="{$base}" data-base-length="{$baseLength}"><img src="{link Map:IPmap $timeslot->getName(), $col, 'out'}" alt="Out transmission IP map" /></div></td>
						<td width="{=$zoom*256}" height="{=$zoom*256}" class="nopadding"><div class="ipmap" data-zoom="{$zoom}" data-base="{$base}" data-base-length="{$baseLength}"><img src="{link Map:IPmap $timeslot->getName(), $col, 'diff'}" alt="Diff transmission IP map" /></div></td>
					</tr>
					<tr>
						<td class="nopadding">
							<img src="{link Map:IPmapRange}" class="rozsah">
						</td>
						<td class="nopadding">
							<img src="{link Map:IPmapRange}" class="rozsah">
						</td>
						<td class="nopadding">
							<img src="{link Map:IPmapRangeDiff}" class="rozsah">
						</td>
					</tr>
				</tbody>
			</table>
			{/snippet}
			<div class="fl pt30">
				{snippet form}
				{control frmConfigure}
				{/snippet}
			</div>

		</div>

	</div>

</div>

{/block}
