name: Build and Checks

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install git build-essential autoconf libtool libpcap-dev pkg-config libxml2-dev gawk libcurl4-openssl-dev libxml2-dev libyaml-dev make python3 python3-dev python3-pip python3-setuptools
        ( sudo pip3 install ply PyYAML pynspect; git clone --depth 1 https://github.com/CESNET/nemea-framework /tmp/nemea-framework; cd /tmp/nemea-framework; ./bootstrap.sh &&./configure --bindir=/usr/bin/nemea/ -q &&make -j10 && sudo make install; sudo ldconfig; (cd pytrap && sudo python3 setup.py install;); (cd pycommon; sudo python3 setup.py install;); )
    - name: autoreconf
      run: autoreconf -i
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
    - name: configure with debug
      run: ./configure --enable-debug CXXFLAGS=-coverage CFLAGS=-coverage LDFLAGS=-lgcov
    - name: rebuild and check
      run: make clean; make check
    - uses: codecov/codecov-action@v1
      with:
        flags: tests # optional
        name: nemea-detectors # optional
        fail_ci_if_error: true # optional (default = false)
        verbose: true # optional (default = false)

